#nav-main .nav-item.active {
  border-left: #444 3px solid; }
#nav-main .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem; }

#showcase .carousel-item {
  height: 450px; }
#showcase .carousel-img-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }
#showcase .carousel-img-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }
#showcase .carousel-img-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }
